*{
  padding: 0;
  margin: 0;
}
.asli{
  background: linear-gradient(#940000, #cb0000) padding-box,
  linear-gradient(to right, rgb(148, 3, 3), rgb(255, 0, 0)) border-box;
}
.btn11{
   
    font-size: large;

}
.btn-gradient-21 {
    background: linear-gradient(#000000, #830000) padding-box,
                linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 0)) border-box;
    
    border: 4px solid transparent;
      }
.btn-gradient-31 {
    background: linear-gradient(#000000, #830000) padding-box,
                linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 0)) border-box;
    
    border: 4px solid transparent;
      }
      *{
        padding: 0;
        margin: 0;
      }
      p.serif {
        font-family: "Times New Roman", Times, serif;
        font-size: xx-large;
      }
      .navar{
        background: linear-gradient(#000000, #830000) padding-box,
        linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0)) border-box;
        
      }