.elementor-12 .elementor-element.elementor-element-b4c3c80 {
    padding:20px 0px 20px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-7e112df img {
    border-radius:21px 21px 21px 21px;
    box-shadow:7px 8px 9px -1px rgba(37.53724524456522, 60.53869061936953, 81.75, 0.5);
  }
  .elementor-12 .elementor-element.elementor-element-1a20ccc img {
    border-radius:21px 21px 21px 21px;
    box-shadow:-10px -9px 16px -3px rgba(60.750000000000014, 37.29189052762067, 21.55551970108697, 0.5);
  }
  .elementor-12 .elementor-element.elementor-element-76d1ce2 img {
    border-radius:21px 21px 21px 21px;
    box-shadow:7px -8px 9px -1px rgba(37.53724524456522, 60.53869061936953, 81.75, 0.5);
  }
  .elementor-12 .elementor-element.elementor-element-3f84b38 img {
    border-radius:21px 21px 21px 21px;
    box-shadow:7px -5px 10px 0px rgba(80.39454823369564, 127.1413586702689, 170.25, 0.5);
  }
  .elementor-12 .elementor-element.elementor-element-ac1e17b img {
    border-radius:21px 21px 21px 21px;
    box-shadow:7px 8px 9px -1px rgba(49.611124320652166, 118.61577852937819, 182.25, 0.5);
  }
  .elementor-12 .elementor-element.elementor-element-77b436f {
    border-style:solid;
    border-width:0px 0px 0px 0px;
    border-color:#E6E6E6;
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding:20px 10px 10px 10px;
  }
  .elementor-12 .elementor-element.elementor-element-77b436f,
  .elementor-12 .elementor-element.elementor-element-77b436f > .elementor-background-overlay {
    border-radius:15px 15px 15px 15px;
  }
  .elementor-12 .elementor-element.elementor-element-77b436f > .elementor-background-overlay {
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-12 .elementor-element.elementor-element-77b436f > .elementor-container {
    text-align:center;
  }
  .elementor-bc-flex-widget .elementor-12 .elementor-element.elementor-element-5b4c2af.elementor-column .elementor-widget-wrap {
    align-items:center;
  }
  .elementor-12 .elementor-element.elementor-element-5b4c2af.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content:center;
    align-items:center;
  }
  .elementor-12 .elementor-element.elementor-element-5b4c2af.elementor-column > .elementor-widget-wrap {
    justify-content:center;
  }
  .elementor-12 .elementor-element.elementor-element-5b4c2af > .elementor-element-populated {
    text-align:center;
  }
  .elementor-12 .elementor-element.elementor-element-383e1fb > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content:center;
    align-items:center;
  }
  .elementor-12 .elementor-element.elementor-element-f0007ce.elementor-column > .elementor-widget-wrap {
    justify-content:center;
  }
  .elementor-12 .elementor-element.elementor-element-9484828 .elementor-button .elementor-align-icon-right {
    margin-left:15px;
  }
  .elementor-12 .elementor-element.elementor-element-9484828 .elementor-button .elementor-align-icon-left {
    margin-right:15px;
  }
  .elementor-12 .elementor-element.elementor-element-9484828 .elementor-button {
    fill:#2F2F2F;
    color:#2F2F2F;
    background-color:#FFFFFF;
    border-style:solid;
    border-width:2px 2px 2px 2px;
    border-color:#EEEEEE;
    border-radius:99px 99px 99px 99px;
    padding:15px 20px 15px 20px;
  }
  .elementor-12 .elementor-element.elementor-element-9484828 > .elementor-widget-container {
    margin:0px 0px 0px 20px;
  }
  .elementor-12 .elementor-element.elementor-element-9484828 {
    width:auto;
    max-width:auto;
  }
  .elementor-12 .elementor-element.elementor-element-22a5d36 .elementor-button .elementor-align-icon-right {
    margin-left:15px;
  }
  .elementor-12 .elementor-element.elementor-element-22a5d36 .elementor-button .elementor-align-icon-left {
    margin-right:15px;
  }
  .elementor-12 .elementor-element.elementor-element-22a5d36 .elementor-button {
    fill:#2F2F2F;
    color:#2F2F2F;
    background-color:#FFFFFF;
    border-style:solid;
    border-width:2px 2px 2px 2px;
    border-color:#EEEEEE;
    border-radius:99px 99px 99px 99px;
    padding:15px 20px 15px 20px;
  }
  .elementor-12 .elementor-element.elementor-element-22a5d36 > .elementor-widget-container {
    margin:0px 0px 0px 20px;
  }
  .elementor-12 .elementor-element.elementor-element-22a5d36 {
    width:auto;
    max-width:auto;
  }
  .elementor-12 .elementor-element.elementor-element-3f569a0 .elementor-button .elementor-align-icon-right {
    margin-left:15px;
  }
  .elementor-12 .elementor-element.elementor-element-3f569a0 .elementor-button .elementor-align-icon-left {
    margin-right:15px;
  }
  .elementor-12 .elementor-element.elementor-element-3f569a0 .elementor-button {
    fill:#2F2F2F;
    color:#2F2F2F;
    background-color:#FFFFFF;
    border-style:solid;
    border-width:2px 2px 2px 2px;
    border-color:#EEEEEE;
    border-radius:99px 99px 99px 99px;
    padding:15px 20px 15px 20px;
  }
  .elementor-12 .elementor-element.elementor-element-3f569a0 > .elementor-widget-container {
    margin:0px 0px 0px 20px;
  }
  .elementor-12 .elementor-element.elementor-element-3f569a0 {
    width:auto;
    max-width:auto;
  }
  .elementor-12 .elementor-element.elementor-element-dc9fba9 .elementor-button .elementor-align-icon-right {
    margin-left:15px;
  }
  .elementor-12 .elementor-element.elementor-element-dc9fba9 .elementor-button .elementor-align-icon-left {
    margin-right:15px;
  }
  .elementor-12 .elementor-element.elementor-element-dc9fba9 .elementor-button {
    fill:#2F2F2F;
    color:#2F2F2F;
    background-color:#FFFFFF;
    border-style:solid;
    border-width:2px 2px 2px 2px;
    border-color:#EEEEEE;
    border-radius:99px 99px 99px 99px;
    padding:15px 20px 15px 20px;
  }
  .elementor-12 .elementor-element.elementor-element-dc9fba9 > .elementor-widget-container {
    margin:0px 0px 0px 20px;
  }
  .elementor-12 .elementor-element.elementor-element-dc9fba9 {
    width:auto;
    max-width:auto;
  }
  .elementor-12 .elementor-element.elementor-element-2daa70b {
    padding:20px 0px 20px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-b579dfd {
    padding:20px 0px 20px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-9bfa436 > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content:center;
    align-items:center;
  }
  .elementor-12 .elementor-element.elementor-element-9bfa436:not(.elementor-motion-effects-element-type-background),
  .elementor-12 .elementor-element.elementor-element-9bfa436 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image:url("http://gameplus.3sz.ir/wp-content/uploads/2021/12/original-0066bc61-c3a5-4db0-bc7c-0903e0b357a6-scaled.jpg");
    background-repeat:no-repeat;
    background-size:cover;
  }
  .elementor-12 .elementor-element.elementor-element-9bfa436 {
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding:30px 0px 30px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-9bfa436 > .elementor-background-overlay {
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-12 .elementor-element.elementor-element-f2bab2b {
    padding:20px 0px 20px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-39a116e {
    padding:0px 0px 45px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-a9a9ebf > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content:center;
    align-items:center;
  }
  .elementor-12 .elementor-element.elementor-element-a9a9ebf:not(.elementor-motion-effects-element-type-background),
  .elementor-12 .elementor-element.elementor-element-a9a9ebf > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image:url("http://gameplus.3sz.ir/wp-content/uploads/2021/12/original-5fb23839-b8d7-498e-97ba-d15a1d1e46df-scaled.jpg");
    background-repeat:no-repeat;
    background-size:cover;
  }
  .elementor-12 .elementor-element.elementor-element-a9a9ebf {
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding:30px 0px 30px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-a9a9ebf > .elementor-background-overlay {
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-12 .elementor-element.elementor-element-05f0b82 {
    padding:25px 0px 25px 0px;
  }
  .elementor-12 .elementor-element.elementor-element-645a835 > .elementor-widget-container:hover {
    --e-transform-translateY:-12px;
  }
  .elementor-12 .elementor-element.elementor-element-b09cc5c {
    padding:35px 0px 0px 0px;
  }
  @media(min-width:768px) {
    .elementor-12 .elementor-element.elementor-element-572a3ae {
      width:25.971%;
    }
    
    .elementor-12 .elementor-element.elementor-element-4836555 {
      width:51.543%;
    }
    .elementor-12 .elementor-element.elementor-element-32fbc05 {
      width:24.15%;
    }
    .elementor-12 .elementor-element.elementor-element-f0007ce {
      width:100%;
    }
    .elementor-12 .elementor-element.elementor-element-0bd3e51 {
      width:16.844%;
    }
    .elementor-12 .elementor-element.elementor-element-3fbdd64 {
      width:83.156%;
    }
    .elementor-12 .elementor-element.elementor-element-f7e3390 {
      width:16.844%;
    }
    .elementor-12 .elementor-element.elementor-element-f50b340 {
      width:83.156%;
    }
  }
